<mat-toolbar color="primary">

    <span> <a routerLink=""> My Posts </a>  </span>

    <span class="spacer">  </span>
    <ul>
        <li>
            <a *ngIf="userIsAuthenticated" mat-button routerLink="/create" color="Warm"  routerLinkActive = "mat-accent">Create Post</a>  
        </li>

 
        <li>
            <a *ngIf="!userIsAuthenticated" mat-button routerLink="/auth/login" color="Warm"  routerLinkActive = "mat-accent">Login</a>  
        </li>

        <li>
            <a *ngIf="!userIsAuthenticated" mat-button routerLink="/auth/signup" color="Warm"  routerLinkActive = "mat-accent">Sign Up</a>  
        </li>

        <li>
            <button mat-flat-button (click)="onLogout()" color="warm" *ngIf="userIsAuthenticated"> Log Out </button>
        </li>
    </ul>

</mat-toolbar>
