<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
    <input type="text" matInput placeholder="Title" name="title" ngModel required #title="ngModel">   
    <mat-error *ngIf="title.invalid">Plese intered this fileds</mat-error>
     
    </mat-form-field>

    <mat-form-field>
        
        <textarea matInput rows="3" placeholder="Discription" name="content" ngModel required #title="ngModel"></textarea>
        <mat-error *ngIf="title.invalid">Plese intered this fileds</mat-error>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit" > Save Post </button>
</form>
</mat-card>
